body {
    background-color: #3e3e3e
}

.head {
    text-align: center;
    color: whitesmoke;
}
@font-face {
    font-family: misfits;
    src: url(MISFITS_.TTF);
  }
  
  div {
    font-family: misfits;
  }
